<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>МИНЕРАЛЫ. ШКАЛА МООСА.</title>
        <link rel="stylesheet" href="/css/style_home.css">
    </head>
    <body>               
        <header>
            <nav>
                <button class="button_sign_up"><a href="/register">Sign up</a></button>
                <button class="button_sign_up log_in" ><a href="/login">Log in</a></button>
            </nav>
            <h1>Минералы</h1>
            <h2>Шкала Мооса</h2>
        </header>
        <hr class="horizontal-line">
        <div class="container" id="container">
            <button><a href="/game_time">Играть на время</a></button>
            <button><a href="/game_friend">Играть с другом</a></button>
        </div>
        <hr class="horizontal-line">
    </body>
</html>